
body {
    background: black;
}

.container {
    display: flex;
    justify-content: center;
}

#plateau {
    text-align: center;
    margin-top: 50px;
    background: #916654;
    border: 2px solid #3a3735;
}

#plateau .row {
    display: flex;    
    flex-wrap: wrap;
}

#plateau .cell {
    height: 25px;
    line-height: 25px;
    width: 30px;
    border: 1px solid #a28f84;
    padding-top: 10px;
}

#plateau .cell.with-Lander {
    border-top: 0;
    border: 1px solid #524c48;
    background: #857b84; 
    border-bottom: 1px solid back;
    border-radius: 50px 50px 0 0;
    height: 20px;
    margin-top: 2px;
    font-size: 10px;
}

#plateau .cell.with-Lander.dir-n { 
    transform: rotate(0); 
}

#plateau .cell.with-Lander.dir-s { 
    transform: rotate(3.142rad);
}

#plateau .cell.with-Lander.dir-e { 
    transform: rotate(90deg); 
}

#plateau .cell.with-Lander.dir-w { 
    transform: rotate(-0.25turn);
}

#controls {
    width: 700px;
    height: 200px;
    margin-top: 25px;
    color: #008000;
    background-color: #040404;
    border: 1px solid #3c3c44;
    text-align: left;
}

#controls h2 {
    text-align: center;
    margin: 10px;
}

#controls h3 {
    margin: 10px;
}

#controls hr {
    height: 1px;
    background-color: green;
    border-color: green;
}

#controls form {
    text-align: left;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

#controls form input {
    margin-top: 5px;
}